# Byte-compiled / optimized / DLL files
__pycache__
.pytest_cache
__pypackages__/

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Project-specific ignores
.vscode/
.codex

# Benchmark intermediates or outputs
benchmarks/*/dataset/source_data
benchmarks/*/visualizer/plots
benchmarks/*/visualizer/cache

# Experiment outputs
.runtime
results/
